* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: Roboto;
  margin: 0;
  background: #fffeff;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}
@media screen and (max-width: 580px) {
  .container {
    padding: 0 2rem;
  }
}

h1,
h2,
h3 {
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 8px;
}
h1 {
  font-size: 54px;
}
h2 {
  font-size: 42px;
}
p {
  margin: 20px 0;
  line-height: 24px;
}

img {
  margin: 20px 0;
  width: 100%;
}

/* navegação */
nav {
  height: 70px;
  width: 100%;
  background-color: #685500;
  position: fixed;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  color: #ffffff;
  transition: 1s;
}
nav a:hover {
  color: #ffffff;
}
nav a#toggle-btn {
  display: none;
}

@media screen and (max-width: 580px) {
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }

  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #35b1c7;
    color: #ffffff;
  }
  nav a:hover {
    color: #070707;
  }
  nav a#toggle-btn:after {
    content: "|||";
    transform: rotate(-90deg);
    width: 40px;
    height: 40px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#toggle-btn {
    display: block;
    background: #35b1c7;
    color: #ffffff;
    width: 100%;
    position: relative;
  }

  .menu:before,
  .menu:after {
    content: "";
    display: table;
  }
  .menu:after {
    clear: both;
  }
  .menu {
    zoom: 1;
  }
}

/* Aterrissagem da pagina */
.section-hero {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
.section-hero .container {
  margin-top: 34vh;
}
.section-hero h2 {
  color: #070707;
}

@media screen and (max-width: 580px) {
  .section-hero h2 {
    font-size: 24px;
  }
  .section-hero p {
    display: none;
  }
}

/* apresentação*/
#apresent {
  background: #f5f5f5;
  padding: 8rem 0;
}

.apresent-content {
  display: grid;
  grid-gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

@media screen and (max-width: 580px) {
  .apresent-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }
}

/* Entrada */
#input {
  padding: 8rem 0;
}
#input h2 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 12px;
  margin-bottom: 2em;
}

/* footer*/
footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;
  background: #685500;
}
footer span {
  color: #ffffff;
  font-weight: 600;
}

.sm {
  margin: 20px 0;
}
.sm a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #f1f3f5;
  font-size: 24px;
  transition: 0.4s;
  border-radius: 50%;
}
